extends layouts/main.pug

block body

  form(action="/record" method="POST" class="new_page")
    div(class="top")
      div *必填欄位
      span(class="form_title") 請輸入你的支出
    div(class="form-group row")
      label(for="name" class="col-sm-3 col-form-label") 名稱*：
      div(class="col-sm-9")
        input(type="text" class="form-control" id="name" name="name" required)
    div(class="form-group row")
      label(for="date" class="col-sm-3 col-form-label") 日期*：
      div(class="col-sm-9")
        input(type='date' class="form-control" name="date" value=`${date.toISOString().slice(0,10)}` required)
    div(class="form-group row")
      label(for="category" class="col-sm-3 col-form-label") 類別*：
      div(class="col-sm-9")
        select(class="form-control" id="category" name="category")
          option(selected disabled hidden) 選擇類別
            each category, index in ['家居物業', '交通出行', '休閒娛樂', '餐飲食品', '其它']
              option(value=`${category}`) #{category}
    div(class="form-group row")
      label(for="amount" class="col-sm-3 col-form-label") 金額*：
      div(class="col-sm-9")
        input(type="text" class="form-control" id="amount" name="amount" required)
    div(class="form-group row")
      div(class="col-sm-12 center")
        button(type="submit" class="new") 新增支出