extends layouts/main.pug

block body
  div(class="row mt-5")
  div(class="col-md-6 m-auto")
    div(class="card card-body")
      h1(class="text-center mb-3") Register
      form(action="" method="POST" class="check")
        div(class="form-group")
          label(for="name") Name
          input(type="text" id="name" name="name" class="form-control" placeholder="Enter Name")
        div(class="form-group")
          label(for="email") Email
          input(type="email" id="email" name="email" class="form-control" placeholder="Enter Email" required)
        div(class="form-group")
          label(for="password") Password
          input(type="password" id="password" name="password" class="form-control" placeholder="Enter Password" required)
        div(class="form-group")
          label(for="password2") Confirm Password
          input(type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password" required)
          div(class="invalid-feedback")
        button(type="submit" class="btn btn-info btn-block") Register
        a(href="/auth/facebook" class="btn btn-block btn btn-primary") Facebook Login
      p(class="lead mt-4") Have an Account? 
        a(href="/users/login") Login
block script
  script(src="/javascripts/register.js")       